

// colors
$white: white;
$black: black;
$mainColor: #6c9894;
$navTextColor: #5d6462;
$pricingBackground : #f4f9f4;

// fonts
$balooBhaiFont: 'Baloo Bhai 2', cursive;
$montSerrat: 'Montserrat', sans-serif;