@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Montserrat:wght@100&display=swap");
@import "_variables.scss";
@import "_mixins.scss";

// $balooBhaiFont: 'Baloo Bhai 2', cursive;
// $montSerrat: 'Montserrat', sans-serif;
body {
  padding: 0;
  margin: 0;
}

// HEADER STYLE START
header {
  .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;

    .header-container-logo {
      position: relative;
      margin-left: 10px;
      background-color: #a7d7c5;

      #logo {
        // position: absolute;
        padding: 5px;
        left: 0;
        top: 0;
      }
    }

    .header-menu-nav {
      padding-top: 45px;
      width: 100%;
      padding-bottom: 45px;

      .hamburger {
        border: none;
        color: $navTextColor;
        font-size: 20px;
        background-color: #e2ede8;
        display: none;
      }

      .nav-ul {
        background-color: #e2ede8;
        margin: 0;
        width: 100%;
        height: 100%;
      }
      li {
        float: right;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
        display: inline;
        padding-left: 45px;
        padding-right: 45px;
        cursor: pointer;
        font-weight: bold;
        font-family: $balooBhaiFont;
        color: $navTextColor;
        &:hover {
          background-color: #c7d9d5;
        }
      }
    }
    @include breakpoint(tablet) {
      .header-menu-nav {
        position: relative;
        padding-bottom: 10px;
        .nav-ul {
          display: none;
        }
        .nav-ul.show {
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        .hamburger {
          display: block;
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
  }
}
//HEADER START END

// FIRST SECTION STYLE START

.firstSection {
  .container-column-girl {
    position: relative;
    #picheShape {
      max-width: 100%;
    }
    #headerPiche {
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .container-column-girl-holder {
    position: relative;
  }

  .container-column-txtBtn-holder {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $mainColor;
    font-weight: bold;
    h1 {
      font-weight: bolder;
      font-family: $balooBhaiFont;
    }
    p {
      font-family: $montSerrat;
    }

    .decription-btn-joinNow {
      border-radius: 15px;
      background-color: $mainColor;
      font-family: $balooBhaiFont;
      border: none;
      padding-left: 25px;
      padding-right: 25px;
      font-weight: bold;
      color: $white;
      width: 50%;
    }
  }
  @include breakpoint(tablet) {
    .container-column-girl {
      display: none;
    }
    .container-column-txtBtn-holder {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
// FIRST SECTION STYLE END

// SECOND SECTION STULE START

.section-chooseClass {
  margin-top: 5px;
  background-color: $mainColor;
  padding-top: 120px;
  padding-bottom: 120px;
  .chooseClass-description {
    text-align: center;

    h1 {
      font-family: $balooBhaiFont;
      font-weight: bolder;
      color: $white;
    }
    h3 {
      font-family: $montSerrat;
      font-family: bold;
      color: $white;
    }
  }

  .imageWrap {
    position: relative;
    .girlImage {
      position: absolute;

      left: 0;
      transform: translate(11%, 11%);
    }
  }
  .textWrap {
    // text-align: center;
    font-family: $balooBhaiFont;
    color: $white;
  }
  .swiper {
    align-items: center;
    width: 50%;
    height: 100%px;

    .swiper-slide {
      position: relative;
      left: 25%;
    }
    .swiper-button-prev {
      color: $pricingBackground !important;
    }
    .swiper-button-next {
      color: $pricingBackground !important;
    }
  }
  @include breakpoint(tablet) {
    .swiper {
      width: 100%;
      .swiper-slide {
        left: 10%;
      }
    }

    .imageWrap {
      .shapeChooseClass {
        display: none;
      }
      .girlImage {
        position: relative;
        padding-bottom: 50px;
      }
    }
  }
}

// STATS SECTION START
.statsSection {
  background-image: url("/Assets/Images/backgroundPicture.png");
  background-size: 100%;
  background-repeat: no-repeat;
  .statsSection-container {
    padding-top: 100px;
    padding-bottom: 205px;
  }
  .content-holder {
    display: flex;
    justify-content: space-between;
  }
  .title-holder {
    h1 {
      font-weight: bolder;
    }
    font-weight: bold;
    color: $mainColor;
    font-family: $balooBhaiFont;
    text-align: center;
    padding-bottom: 50px;
  }
  .stats-holder {
    h3 {
      font-weight: bolder;
    }
    font-weight: bold;
    color: $mainColor;
    font-family: $balooBhaiFont;
    padding: 8% 0;
    // align-items: center;
    // justify-content: center;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 4px solid $mainColor;
    border-radius: 50%;
  }
  @include breakpoint(tablet) {
    background-image: none;
    background-color: $pricingBackground;

    .statsSection-container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .content-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .stats-holder {
      margin-top: 10px;
    }
  }
}
//STATS SECTION END

//BEST INSTRUCTOR SECTION START
.bestInstructor {
  background-color: $mainColor;
  overflow: hidden;
  // height: 970px;
  overflow: hidden;
  .bestInstructor-holder-row {
    text-align: left;
    display: flex;
    margin: auto;

    align-items: center;
    justify-content: center;
  }

  .text-holder {
    color: $white;
    font-family: $balooBhaiFont;
    font-weight: bolder;

    p {
      font-weight: bold;
    }
    .bestInstructor-readMore {
      color: $mainColor;
      font-family: $balooBhaiFont;
      font-weight: bold;
      border: 1px solid $mainColor;
      border-radius: 5px;
      padding: 25px 100px;
      &:hover {
        background-color: #c7d9d5;
      }
    }
  }
  // background-image: url('/Imgs/bestInstructor.png');
  .bestInstructor-holder-image {
    img {
      max-width: 100%;
    }
  }

  @include breakpoint(tablet) {
    .text-holder {
      padding-bottom: 10px;
    }
  }
}
// BEST INSTRUCTOR SECTION END

//newExperience SECTION
.newExperience {
  position: relative;
  .newExperience-holder {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .newExperience-holder-row-image {
    img {
      max-width: 100%;
    }
  }
  .newExperience-holder-row-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: $balooBhaiFont;
    color: $mainColor;
    font-weight: bold;
    h1 {
      z-index: 1;
      font-weight: bolder;
    }

    .newExperience-btn {
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: $balooBhaiFont;
      border: 1px solid $mainColor;
      background-color: $mainColor;
      border-radius: 5px;
      font-weight: bolder;
      z-index: 1;
      color: $white;
    }

    #new-experience-shape {
      position: absolute;
      right: 0;
      bottom: -10px;
      max-height: 100%;
    }
  }
  @include breakpoint(tablet) {
    .newExperience-holder {
      padding-top: 10px;
      padding-bottom: 0;
    }
    .newExperience-holder-row {
      display: flex;
      flex-direction: column-reverse;
    }
    .newExperience-holder-row-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 10px;
      #new-experience-shape {
        display: none;
      }
    }
  }
}
//newExperience SECTION end

//PRICING SECTION START
.pricing {
  background-color: $mainColor;
  padding-top: 120px;
  padding-bottom: 100px;

  .pricing-holder-row {
    display: flex;
    justify-content: space-between;
  }

  .pricing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $balooBhaiFont;
    color: $pricingBackground;
    font-weight: bolder;
    padding-bottom: 52px;
  }

  .pricing-info {
    padding-top: 40px;
    padding-bottom: 40px;

    width: 25%;

    text-align: center;
    border: 1px solid $mainColor;
    border-radius: 5px;
    background-color: $pricingBackground;
    font-family: $balooBhaiFont;
    color: $mainColor;
    font-weight: bolder;

    .registerNow {
      width: 60%;
      border: 1px solid $mainColor;
      background-color: $mainColor;
      font-family: $balooBhaiFont;
      color: $pricingBackground;
      border-radius: 5px;
    }
  }
  @include breakpoint(tablet) {
    padding-top: 10px;
    padding-bottom: 10px;

    .pricing-holder-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .pricing-info {
      width: 75%;
      margin-top: 5px;
    }
  }
}
//PRICINT SECTION END

// OUR TRAINER SECTION START

.our-trainer {
  background-image: url("/Assets/Images/ourTrainer-background-asset.png");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  height: 970px;
  position: relative;
  .our-trainer-row {
    position: inherit;
  }
  .our-trainer-picture {
    position: inherit;

    #our-trainer-img {
      position: absolute;
      // top:0;
      right: 50%;
      transform: translate(50%, 26%);
      z-index: 1;
      max-width: 100%;
    }
    #our-trainer-shape {
      max-width: 100%;
      position: absolute;
      // top:0;
      right: 50%;
      transform: translate(50%, 10%);
    }
  }

  .our-trainer-description {
    position: inherit;

    .our-trainer-wrapper {
      position: absolute;
      // align-items:center;
      bottom: 30%;
      text-align: center;
      p {
        color: $mainColor;
        font-family: $balooBhaiFont;
        font-size: 30px;
        // max-width: 80%;
      }
      h1 {
        color: $mainColor;
        font-family: $balooBhaiFont;
        font-weight: bolder;
      }
    }
  }
  @include breakpoint(tablet) {
    background-image: none;
    background-color: $pricingBackground;
    #our-trainer-shape {
      display: none;
    }
  }
}

// OUR TRAINER SECTION END
.newsletter {
  background-color: $mainColor;
  overflow: hidden;
  .newsletter-holder-row-content {
    padding-top: 130px;
    padding-bottom: 150px;
    font-family: $balooBhaiFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $pricingBackground;

    font-size: 20px;
    h1 {
      font-weight: bolder;
    }

    .newsletter-input-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;

      input {
        border: 1px solid $mainColor;
        padding-left: 5px;
        border-radius: 20px;
      }
      button {
        color: $mainColor;
        border: none;
        border-radius: 20px;
        // transform: translateX(-35px);
      }
    }
  }
  @include breakpoint(mobile) {
    .newsletter-input-wrapper {
      flex-direction: column;
      align-items: right;
    }
  }
}

//FOOTER
.footer {
  padding-top: 160px;
  padding-bottom: 130px;
  background-color: $pricingBackground;
  .footer-row {
    font-family: $balooBhaiFont;
    color: $mainColor;
    h4 {
      font-weight: bolder;
    }
  }

  .footer-title {
    p {
      padding-top: 5px;
    }
  }

  .list-unstyled {
    li {
      padding-top: 5px;

      a {
        transition-property: border-bottom;
        transition-duration: 400ms;
        &:hover {
          border-bottom: 3px solid $mainColor;
        }
        text-decoration: none;
        color: $mainColor;
        // text-decoration-color: none;
      }
    }
  }
  @include breakpoint(tablet) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
